#one_pie_chart {

}

#two_choropleth_map {
}

#three_bar_chart {
	margin-left: 10px;
	

}

#four_map_two {


}

.two_graphs {
	display: block;
	width: 800px; 
	margin: 0 auto; 
	}



